<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/common.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body ng-app="MyApp">

<div ng-controller="listCtrl">
    <div>
        <a ng-click="showType('')">全部分类</a>
        <a style="margin-left: 20px" ng-click="showType(item.type)" ng-repeat="item in listData" ng-bind="item.type"></a>
    </div>
    <ul>
        <!-- 下面代码中“竖线”为键盘上的分割线，“竖线”提交后不显示，所以用汉字代替！ -->
        <li ng-repeat="list in listData | filter: {type: filterType}">
            <a href="#" ng-bind="list.title"></a>
            <span ng-bind="list.price"></span>
            <span ng-bind="list.titile"></span>
            <span ng-bind="list.type"></span>
        </li>
    </ul>
</div>

<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/jquery-1.11.2.min.js"></script>
<script>
    // 需引入 angular.js、filter.js
    var app = angular.module('MyApp',[]);
    app.controller('listCtrl',function($scope,$http){
        $http({
            method: 'GET',
            url: 'JSON/data.json'
        })
            .success(function(data,status,headers,config){
                $scope.listData = data.data.list;
                $scope.filterType = ''; // 筛选门票类型
                $scope.showType = function(type){
                    $scope.filterType = type;
                }
            })
            .error(function(data,status,headers,config){
                console.log('listCtrl Error!');
            })
    });
</script>

</body>
</html>