<div class="sites_main">
    <h1>这个是SITES</h1>
    <ul class="sites">
        <li>
            <p>名称</p>
            <p>网址</p>
            <p>城市</p>
        </li>
        <li ng-repeat="x in names | orderBy:'Name' ">
            <p>{{x.Name}}</p>
            <p>{{x.Url | uppercase}}</p>
            <p>{{x.Country}}aa</p>
        </li>
    </ul>
    <h1>这个是ITEMS</h1>
    <ul class="sites">
        <li>
            <p>名称</p>
            <p>网址</p>
            <p>城市</p>
        </li>
        <li ng-repeat="x in names_other | orderBy:'chengshi'">
            <p>{{x.lastName}}</p>
            <p>{{x.url | uppercase }}</p>
            <p>{{x.chengshi}}</p>
        </li>
    </ul>
</div>
